{% extends 'layout.html' %}

{% block content %}

<form action="/songs" method="get" class="tool-bar">
  <label for="search">Search Term</label>
  <input id="search" type="search" name="q" value="{{ request.args.get('q') or '' }}" />
  <input type="submit" value="Search"/>
</form>

<table>
  <thead>
  <tr>
    <th>Title <th>Artist  <th/>
  </tr>
  </thead>
  <tbody>
  {% for song in songs %}
    <tr>
      <td>{{ song.title }}</td>
      <td>{{ song.artist }}</td>
      <td><a href="/songs/{{ song.id }}/edit">Edit</a>
        <a href="/songs/{{ song.id }}">View</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<p>
  <a href="/songs/new">Add song</a>
</p>

{% endblock %}

