<form action="/songs/{{ song.id }}/edit" method="post">
  <fieldset>
    <legend>Song Values</legend>
    <p>
      <label for="title">Title</label>
      <input name="title" id="title" type="text" placeholder="Title" value="{{ song.title }}">
      <span class="error">{{ song.errors['title'] }}</span>
    </p>
    <p>
      <label for="artist">Artist</label>
      <input name="artist" id="artist" type="text" placeholder="Artist" value="{{ song.artist }}">
      <span class="error">{{ song.errors['artist'] }}</span>
    </p>
    <p>
      <label for="uri">URI</label>
      <input name="uri" id="uri" type="text" placeholder="URI" value="{{ song.uri }}" hx-get="/songs/{{ song.id }}/uri"
        hx-trigger="change, keyup delay:1000ms changed" hx-target="next .error">
      <span class="error">{{ song.errors['uri'] }}</span>
    </p>
    <button>Save</button>
  </fieldset>
</form>

<button id="delete-btn" hx-delete="/songs/{{ song.id }}" hx-target="body" hx-push-url="true"
  hx-confirm="Are you sure you want to delete this song?">
  Delete Song
</button>

<p>
  <a href="/songs">Back</a>
</p>
